*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 190px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

iframe{
    width: 100%;
    height: auto;
    border-style: none;
}

h1{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
}

h2{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

body{
    background-color: darkseagreen;
    text-align: center;
}

img{
    width: 50%;
    height: 50%;
}

.h22{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: coral;
}

.h23{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.h24{
    font-size: 25px;
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.pio{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: brown;
}

.siu{
    width: 20%;
    height: 20%;
}

.ghoul{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: goldenrod;
}

.kaneki{
    width: 20%;
    height: 20%;
}
button{
    background-color: cornflowerblue;
    color: black;
    border: 1px solid black;
    font-family: sans-serif;
    margin-top: 35px;
    padding: 15px;
    margin-left: 890px;
}